<!DOCTYPE html>

<html lang="en"> <!--<![endif]-->

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- BASIC INFO -->
		<title>Beehome - Stay with a local from your organisation</title>
		<meta name="author" content="David Rozando">
		<meta name="keywords" content="Beehome, sleep, company, organisation, local">
		<meta name="description" content="Beehome - Stay with a local from your organisation">

		<!-- FAVICONS -->
		<link rel="icon" href="assets/beehome-logo.png">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

		<!-- GOOGLE FONTS -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

		<!-- LIBRARIES CSS -->
	</head>

	<body class="enable-animations enable-preloader">

		<div id="document" class="document">
			<!-- HERO
			================================= -->
			<section id="hero" class="hero-section hero-layout-simple hero-layout-video-and-subscription-form section section-dark">

				<div class="section-background">

					<!-- IMAGE BACKGROUND -->
					<div class="section-background-image parallax" data-stellar-ratio="0.4">
						<img src="images/hero-bg-video-and-subscription-form.jpg" alt="" style="opacity: 0.2;">
					</div>
				</div>

				<div class="container">

					<div class="hero-content">
						<div class="hero-content-inner">

							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<div class="row">
										<div class="col-md-10 col-md-offset-1">
											<!-- SUBSCRIPTION FORM -->
											<form name="subscribe" action="modules/subscribe-mailchimp.php" method="post" id="subscription-form" class="subscription-form form-ajax-submit" role="form">
												<h4 class="form-heading text-center">Stay with a local from your organisation!</h4>
												<div class="form-validation alert"></div>
												<div class="form-group subscription-form-wrapper">
													<span class="subscription-form-input">
														<input type="email" name="subscribe-email" id="subscribe-form-email" class="subscribe-form-email form-control form-control-lg" placeholder="Enter your email address" autocomplete="off">
													</span>
													<span class="subscription-form-submit">
														<button class="btn btn-primary btn-lg" data-loading-text="Action Button">Action Button</button>
													</span>
												</div>
											</form>

										</div>
									</div>

								</div>
							</div>

						</div>
					</div>

				</div>

			</section>

			<!-- HEADLINE
			================================= -->
			<section id="headline" class="headline-section section-gray section">

				<div class="container">

					<h2 class="section-heading text-center hidden">Tagline</h2>

					<div class="row">
						<div class="col-md-10 col-md-offset-1">

							<p class="headline-text">
								Beehome allows you to stay at your colleagues' for free, wordlwide.
                Find places and peers wherever your organisation is located.
							</p>

						</div>
					</div>

				</div>

			</section>

			<!-- BENEFITS
			================================= -->
			<section id="benefits" class="benefits-section section-gray section">

				<div class="container">

					<h2 class="section-heading text-center">What's so amazing about Beehome ?</h2>

					<div class="benefits-row row">

						<!-- BENEFIT 1 -->
						<div class="col-sm-6 col-md-6">
							<div class="benefit">
								<span class="benefit-icon fa fa-bicycle" data-animation="bounceIn"></span>
								<h4 class="benefit-title">Reduce accommodation costs</h4>
								<p class="benefit-description">Accommodation is the 5th heavyest logistic cost for retail companies. The more your people use Beehome, the lower your accommodation costs will be.</p>
							</div>
						</div>

						<!-- BENEFIT 2 -->
						<div class="col-sm-6 col-md-6">
							<div class="benefit">
								<span class="benefit-icon fa fa-code" data-animation="bounceIn"></span>
								<h4 class="benefit-title">Be rewarded</h4>
								<p class="benefit-description">We suggest that the company rewards both the host and the person who decides to stay at his colleague's rather than to book a hotel room.</p>
							</div>
						</div>
          </div>
				</div>

			</section>
		</div>

		<!-- LIBRARIES JS
		================================= -->

		<!-- MAIN SCRIPT
		================================= -->
	</body>

</html>
